<!DOCTYPE html>
<html>
<head>
    <title>CRUD de Clientes</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta charset="utf-8" />
</head>
<body>
    <h1><%= title %></h1>
    <p>Preencha os dados abaixo para salvar o cliente.</p>
    <form action="<%= action %>" method="POST">
        <p>
            <label>Nome: <input type="text" name="nome" value="<%= result.nome %>" /></label>
        </p>
        <p>
            <label>Idade: <input type="number" name="idade" value="<%= result.idade %>" /></label>
        </p>
        <p>
            <label>UF: <select name="uf">
                <option <% if (result.uf === "RS") { %> selected <% } %>>RS</option>
                <option <% if (result.uf === "SC") { %> selected <% } %>>SC</option>
                <option <% if (result.uf === "PE") { %> selected <% } %>>PE</option>
                <option <% if (result.uf === "PR") { %> selected <% } %>>PR</option>
                <option <% if (result.uf === "RJ") { %> selected <% } %>>RJ</option>
                <option <% if (result.uf === "SP") { %> selected <% } %>>SP</option>
                <!-- adicione mais estados conforme necessário -->
            </select></label>
        </p>
        <p>
            <a href="/">Cancelar</a> | <input type="submit" value="Salvar"/>
        </p>
    </form>
</body>
</html>
